.menu {
    max-width: 75px;
    padding: 20px 0;
    position: relative;

    &__btn {
        @include btn-unstyled;
        padding: 16px 10px;
        font-size: 24px;
    }

    &__small-menu{
        display: flex;
    }

    &__btn--name {
        font-size: 11px;
        line-height: 16px;
    }

    &__btn--active{
        background: rgba(0, 0, 0, 0.05);
    }


    &__icon{
        width: 24px;
        height: 24px;
        margin-bottom: 6px;
    }
}