.videos {
    background: rgba(196, 196, 196, 0.12);
    padding: 28px 28px 28px 28px;

    &__col {
        &:not(:last-child){
            margin-bottom: 50px;
        }
    }

    &__row{
        position:relative;
        z-index: -1;
    }

    &__video--box{
        width: 100%;
        height: 172px;
        position: relative;
    }

    &__video--box img{
        width: 100%;
        height: 100%;
        position:absolute;
        left: 0;
        top: 0;
        object-fit: cover;
    }

    &__video {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width:768px){
    .videos__video--box{
        height: 300px;
    }
}